nav {
    border-top: #00a9d9 8px solid;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 2 !important;
}

.sortbyBar {
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    border-bottom: 1px solid #ebebeb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    z-index: 1 !important;
}
